body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
  }
  
  #hotelsList {
    margin-top: 20px;
    max-width: 300px;
  }
  