:root {
    --primary-color: #36827f;
    --secondary-color: #54a7a4;
}

.wallet {
    display: inline-block;
    color: var(--primary-color);
}

#tab-button:hover {
    background-color: var(--secondary-color);
    color: white;
}

#redeem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#badge {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#upcoming-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}