@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
  --primary-color: #36827f;
  --secondary-color: #54a7a4;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fffaf0;
}

.signup-box {
  background: #ffffff;
  padding: 30px 50px; /* Increased padding for spacing */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 550px; /* Wider box for longer input fields */
  height: 650px; /* Adjusted height to fit all fields */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

h1 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
  font-family: "Dancing Script", cursive;
  font-size: 45px;
}

.form-group {
  width: 100%; /* Ensure full width for inputs */
  margin-bottom: 15px;
  text-align: left;
}

input {
  width: 100%; /* Full width for inputs */
  padding: 12px; /* Increased padding for readability */
  font-size: 16px; /* Larger font size for better visibility */
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;

}

input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.success-message {
    text-align: center;
    font-size: 16px;
    color: var(--primary-color);
    margin-top: 20px;
  }
  
  .login-link {
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: underline;
  }
  
  .login-link:hover {
    color: var(--primary-color);
  }

.signup-button {
  width: 60%; /* Full width button */
  padding: 14px; /* Larger button size for consistency */
  font-size: 16px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; 
  margin: 0 auto;
}

.signup-button:hover {
  background-color: var(--secondary-color);
}
