@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

:root {
  --primary-color: #36827f;
  --secondary-color: #54a7a4;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fffaf0;
}

.login-box {
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 35px !important;
  margin-top: 0px !important;
  font-family: "Dancing Script", cursive;
  font-size: 45px;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px !important;
}

.dropdown-menu {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

.dropdown-menu:focus {
  border-color: var(--primary-color);
  outline: none;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forgot-password {
  flex-shrink: 0;
  margin: 0;
  white-space: nowrap;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

.forgot-password:hover {
  color: var(--secondary-color);
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: var(--secondary-color);
}

.signup-button {
  margin-top: 10px;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
}

.signup-button:hover {
  color: var(--secondary-color);
}
