@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
  --primary-color: #36827f;
  --secondary-color: #54a7a4;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fffaf0;
}

.signup-box {
  background: #ffffff;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: auto;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

h1 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
  font-size: 45px;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 100px;
}

input:focus,
textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.success-message {
  text-align: center;
  font-size: 16px;
  color: var(--primary-color);
  margin-top: 20px;
}

.login-link {
  color: var(--secondary-color);
  cursor: pointer;
  text-decoration: underline;
}

.login-link:hover {
  color: var(--primary-color);
}

.signup-button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.signup-button:hover {
  background-color: var(--secondary-color);
}
